.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
